# Environment configurations for the Hybrid Job Recommender System
PORT=8000
HOST=0.0.0.0
MODEL_ALPHA=0.5
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
KAGGLE_USERNAME=your_kaggle_username_here
KAGGLE_KEY=your_kaggle_key_here
JOBMATCH_EMAIL=student@jobmatch.ai
JOBMATCH_PASSWORD=jobmatch123
JOBMATCH_MONGODB_URI=mongodb+srv://username:password@cluster.example.mongodb.net/?appName=Cluster0
JOBMATCH_DB_NAME=jobmatch_ai
